.post {
    margin: 1em 0;
    padding: 1em 2em 2em;
    border: 1px solid #DDD;
}
.post-source-img {
    width: 20px;
    margin-right: 0.5em;
}
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.twitter-post h4 {
    font-size: 1.5em;
}

.twitter-post h2.post-text {
    font-size: 1.5em;
}

.twitter-post .post-date {
    display: inline-block;
}

.post-source-img {
    width: 20px;
    margin-right: 0.5em;
}

.twitter-post .new-window-icon {
    font-size: 0.8em;
}
.twitter-post .time-author-row, .reddit-post .time-author-row {
    color: #666666;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}
.currency-logo-sprite{
    vertical-align: bottom;
}